.con {
  width: 100%;
  display: flex;
  flex-direction: column;
  .basic-info {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 0;
    font-size: 14px;
    font-weight: 600;
    color: #4b7bec;
    border-bottom: 2px solid #4b7bec;
    .title {
      font-size: 11px;
      font-weight: 600;
      color: #a5b1c2;
      letter-spacing: 1px;
      padding-left: 11px;
      align-self: flex-end;
    }
  }
}

.item-header {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 6px 0 5px 0;
  background-color: #e3edff;
  padding: 2px 5px;
  .time {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #707780;
  }
  .company {
    font-size: 11px;
    font-weight: 800;
    color: #4b7bec;
    margin: 0 11px;
  }
  .job {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #707780;
  }
  .company-logo {
    height: 20px;
    margin: 0 0 0 auto;
  }
}
.discription {
  width: 100%;
  display: flex;
  flex-direction: column;
  .detail {
    font-size: 11px;
    font-weight: 300;
  }
  .discription-line {
    width: 100%;
    display: flex;
    font-size: 11px;
    padding: 1px 0;
    font-weight: 300;

    .circle {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #70a1ff;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 8px;
      font-size: 11px;
      color: #fff;
      font-weight: 800;
    }
  }
}
.techStack {
  display: flex;
  align-items: center;
  padding: 2px 0;
  gap: 5px;
  .stack {
    font-size: 11px;
    font-weight: 300;
    background-color: #e3edff;
    color: #2e86de;
    font-weight: 600;
    border-radius: 5px;
    padding: 2px 5px;
  }
}
