* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

.content {
  // background-color: red;
  height: 155vh;
  aspect-ratio: 210 / 297;
  // border: 1px solid black;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
